pipeline/PL_CopyMultiplefilesfromgit008.json
{
	"name": "PL_CopyMultiplefilesfromgit008",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_github007",
						"type": "DatasetReference",
						"parameters": {
							"BaseURL": {
								"value": "@variables('SourceBaseurl')",
								"type": "Expression"
							},
							"RelativeURL": {
								"value": "@variables('SourceRelativeurl')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ADLSdestination002",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceRelativeurl",
					"value": "VNannuri/Azure2024/main/Popular_Baby_Names.csv"
				}
			}
		],
		"variables": {
			"SourceBaseurl": {
				"type": "String",
				"defaultValue": "https://raw.githubusercontent.com"
			},
			"SourceRelativeurl": {
				"type": "String",
				"defaultValue": "VNannuri/Azure2024/main/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-28T17:27:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}